<!DOCTYPE html>
<html data-theme="business" lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}ELaRA - Embedding Linking and Retrieval Answering{% endblock %}</title>
    {#
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    #}
    <link rel="icon" href="{{ asset('img/favicon.ico') }}">
    {% block stylesheets %}
    {% endblock %}


    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

    <div class="drawer lg:drawer-open">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle"/>

        <!-- CONTENUTO PAGINA -->
        <div class="drawer-content flex flex-col min-h-screen">
            <nav class="navbar w-full bg-base-300">
                <!-- Bottone: visibile solo su schermi piccoli -->
                <div class="flex-none lg:hidden">
                    <label for="my-drawer-4"
                           aria-label="open sidebar"
                           class="btn btn-square btn-ghost drawer-button">
                        <!-- icona -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                             stroke-linejoin="round" stroke-linecap="round"
                             stroke-width="2" fill="none" stroke="currentColor"
                             class="my-1.5 inline-block size-4">
                            <path d="M4 6h16"></path>
                            <path d="M4 12h16"></path>
                            <path d="M4 18h16"></path>
                        </svg>
                    </label>
                </div>

                <div class="flex-none px-4">
                    <img src="{{ asset('img/logo.png') }}" width="48" alt="logo">
                </div>
                <div class="flex-none text-[42px]">
                    <code><b>ELaRA</b></code>
                </div>
            </nav>

            <div class="p-4">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div role="alert" class="alert alert-{{ label }} alert-outline">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block pageContent %}{% endblock %}
            </div>

            {#
            <footer class="footer sm:footer-horizontal footer-center bg- text-base-content p-4 sticky top-[100vh]">
                <aside>
                    <p>Space Wolf</p>
                </aside>
            </footer>
            #}

            {# FOOTER SEMPLICE #}
            <footer class="p-5 border-base-300 text-xs opacity-70 flex flex-wrap justify-between gap-2 sticky top-[100vh] pr-15">
                <span>Ɛ𝓁∂Ɽ@ — Motore RAG interno · Symfony 7.3</span>
                <span>Stack: PostgreSQL · pgvector · Tailwind · DaisyUI</span>
            </footer>

        </div>

        <!-- SIDEBAR -->
        <div class="drawer-side">
            <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>

            <div class="min-h-full w-64 bg-base-200 flex flex-col items-start">
                <ul class="menu w-full grow">
                    
                    <li>
                        <a href="{{ path('app_home') }}"
                            class="{% if controller_name == constant('App\\Controller\\HomeController::CONTROLLER_NAME') %}menu-active{% endif %}">
                            {# icona "sparkles" #}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" 
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
                                </path><polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            <span>Homepage</span>
                        </a>

                        <a href="{{ path('app_ai_console') }}"
                            class="{% if controller_name == constant('App\\Controller\\ChatController::CONTROLLER_NAME') %}menu-active{% endif %}">
                            {# icona "sparkles" #}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" 
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                            </svg>
                            <span>Almeno Chatbot</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</body>
</html>
